[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trafilatura = "*"
black = "*"
requests = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
